html,body,#layout,#container {
  height: 100%;
  margin: 0;
  font-size: 10px;
  overflow: hidden;
}

#layout {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

#container .ace_editor {
  margin: 0;
  padding: 0;
}

#layout .ui-layout-center {
  position: relative;
}

#editor {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 40px;
}

.functions {
  position: absolute;
  height: 35px;
  background: #D9D9D9;
  width: 100%;
  bottom: 0;
  padding-top: 5px;
  border-top: 1px solid #BBB;
}

#layout .ui-layout-pane {
  padding: 0px !important;
}

.console {
  background: #000;
}

#savefr {
  margin: 0;
  padding: 0;
  border: 0;
  width: 0;
  height: 0;
}
